body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
  border: 1px solid #0d0d0d;
  background-color: #f4d9d9;
}

.area {
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  padding: 30px;
  background: #e4edb8;
  color: #f1ac16;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.item img {
  width: 40px;
  margin-right: 10px;
  border: 1px solid #0d0d0d;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-right: 20px;
}

.nav a{
  color: #333;
  text-decoration: none;
}

.mv.img {
  width: 100%;
}

.mv p {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  display: inline-block;
  border: 2px solid #833504;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 20px;
}

.intro {
  text-align: center;
}

.feature{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: 30px;
  border: 2px solid #833504;
  border-radius: 16px;
  padding: 40px 20px;
  background: #fff8e1;
}

.feature-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.item {
 border: 2px solid #ec9274;
 border-radius: 12px;
 padding: 15px;
 background: #fff;
 box-shadow: 0 4px 10px rgba(0,0,0,0,1);
 width: 30%;
 text-align: center;
}

.item:hover {
  transform: translateY(-5px);
}

.item img {
  width: 100%;
  border-radius: 8px;
}

.item h3 {
  margin: 15px 0 10px;
  text-align: center;
}

.item p {
  font-size: 14px;
  color: #555;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #e4edb8;
  margin-top: #555;
}

.catch {
  display: inline-block;
  border: 2px solid #d8e99c;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
}

.catch-text {
  font-size: 34px;
  font-weight: 700px;
  letter-spacing: 1px;
  padding: 16px 28px;
  border-radius: 30px;
  background: #fff8e1;
  color: #444;
  border: 2px solid #833504;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0,0.8);
}

.catch-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
}

.center {
  text-align: center;
}

.recipe {
  width: 300px;
  margin: 20px auto;
  display: block;
  border-radius: 16px;
}

.catchcopy {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.kuma-img {
  width: 100px;
  height: auto;
}

.recipe-img {
  width: 250px;
  display: block;
  margin: 20px auto;
}




